tag_1_delphes_events.root
parse_uproot_S1_sch.ipynb
tag_1_delphes_events_1k.root
.ipynb_checkpoints/
unweighted_events.lhe
.idea/
__pycache__/
parse_uproot_backup.py
parse_HEAH.py
parse_uproot_backup.ipynb
parse_root_1.py
hdf5_files/
parse_uproot_v1.ipynb
parse_root_1k.py
parse_uproot_test.ipynb
parse_uproot_dev.ipynb
data/delphes_events_100k.root
data/schsu_100k/
